<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content" >

                <div class="signin-form">
                    <h2 class="form-title" style="text-align: center;">Add Items</h2>
                    <form style="margin-left: 30%;">
                        <div class="form-group">
                            <label for="your_name"></label>
                            <input type="text" name="your_name" id="your_name" placeholder="Item Name"/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"></label>
                            <input type="number" name="your_pass" id="your_pass" placeholder="Quantity"/>
                        </div>

                        <div class="form-group">
                            <label for="your_pass"></label>
                            <input type="date" name="your_pass" id="your_pass" placeholder="Estimated Delivery Date"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Add Items" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>