    <!---Start navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-dark" style="background-color:#208f0a"> 
      <a class="navbar-brand" routerLink='/home'>
        <h4 class="navTitle" style="color: white;">Farmer's Kart</h4> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarText" style="cursor:pointer;">
         <ul class="navbar-nav ml-auto">
             <li class="nav-item active">
               <a class="nav-link" routerLink='/home'>Home </a>
             </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/login'>Login</a>
          </li>
         </ul>
     </div>
   </nav>
   <!--- End Navigation Bar -->

   <div class="row" style="margin-top: 10%;">
    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>
   </div>

   <div class="row" style="margin-top: 4%;">
    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>
   </div>

   <div class="row" style="margin-top: 4%;">
    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>
   </div>

   <div class="row" style="margin-top: 4%;">
    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
<button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
<button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
<button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card" >
        <img class="card-img-top" src="../../assets/masoor.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Masoor Dal</h5>
          <p class="card-text"><b>Price: Rs.80/Kg</b></p>
          <p class="card-text"><b>Farmer's Name: ABC XYZ</b></p>
<button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 60%;" (click)="decrement()">-</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;">{{quantity}}</button>
          <button class="btn btn-lg btn_text btn_text" style="background-color: #208f0a; margin-left: 1%;" (click)="increment()">+</button>
        </div>
      </div>
    </div>
   </div>
   