<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand" href="#">DIGIFARM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 1000px;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Place Demand</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Land Contract</a>
        </li>
        

      </ul>
     
    </div>
  </nav>


  <body>
      <div class="start-img">
          <img src="../../assets/12.webp" width="100%" >
      </div>
      <div class="intro-section">

        <div class="row">
            
            <div class="col-4 col-md-4 col-sm-10">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Total Farmers</h5>
                      <h6 class="card-subtitle mb-2 text-muted">4000+</h6>
                     
                      
                    </div>
                  </div>
            </div>
            <div class="col-4 col-md-4 col-sm-10">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Total Industries</h5>
                      <h6 class="card-subtitle mb-2 text-muted">50+</h6>
                      
                      
                    </div>
                  </div>
            </div>
            <div class="col-4 col-md-4 col-sm-10">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Total Customers</h5>
                      <h6 class="card-subtitle mb-2 text-muted">5000+</h6>
                      
                      
                    </div>
                  </div>
            </div>
        </div>
        <br>
        <br>

      </div>

  </body>

  