<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
     <a class="navbar-brand" href="#">DIGIFARM</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 1000px;">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="#">Products</a>
           </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Place Demand</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="#">Land Contract</a>
         </li>
         
 
       </ul>
      
     </div>
   </nav>
     <!--- Start LandPage -->
     <div>
             <img class="d-block w-100 img-fluid img-slider" src="../../assets/home.png" alt="First slide">
       <div class="carousel-caption">
    
     </div>
     </div>
     
     <!--- End of LandPage -->
<button (click)="login()">Login</button>