    <!---Start navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-dark" style="background-color:#208f0a"> 
      <a class="navbar-brand" routerLink=''>
        <h4 class="navTitle" style="color: white;">Farmer's Kart</h4> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarText" style="cursor:pointer;">
         <ul class="navbar-nav ml-auto">
             <li class="nav-item active">
               <a class="nav-link" routerLink='/'>Home </a>
             </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/landcontract'>Land Contract</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/industry'>Industry</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink=''>HouseHold</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/login'>Login</a>
          </li>
         </ul>
     </div>
   </nav>
   <!--- End Navigation Bar -->
     <!--- Start LandPage -->
     <div>
             <img class="d-block w-100 img-fluid img-slider" src="../../assets/home.png" alt="First slide">
       <div class="carousel-caption">
    
     </div>
     </div>
     
     <!--- End of LandPage -->