<html>
  <body>
      <div class="container-fluid mx-auto" >
        <div class="card ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card1 ">
                      <h2 class="login_name">LOGIN</h2>
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="../../assets/login.jpg" class="image"> </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row px-3 mb-4">
                            
                        </div>
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Mobile Number</h6>
                            </label> <input class="mb-4" type="text" name="email" placeholder="Mobile Number"> </div>
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                            </label> <input type="password" name="password" placeholder="Enter password"> </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                        </div>
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" style="font-size: large;" (click)="login()">Login</button> </div>
                        <h5 class="font-weight-bold">Don't have an account? <a class="text-danger " routerLink="/register">Register</a></h5> 
                    </div>
                </div>
            </div>
      
        </div>
      </div>

  </body>
</html>