



<div id="login-box">
    <div class="left">
      <h1 style="color: white;font-weight: bold;">Sign up</h1>
      
      <input type="text" name="username" placeholder="Industry Name" />
      <input type="tel" name="contact" placeholder="Mobile Number">
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      
      <input type="submit" name="signup_submit" value="Sign me up" (click)="register()"/>
    </div>
    
 
    
  </div>
